<div class="container">
  <h2 class="mt-15">pipe works...!!!!</h2>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <p class="alert alert-info">
        {{ title }}
      </p>

      <hr />

      <p class="alert alert-dark">{{ title | uppercase }}</p>

      <hr />

      <p class="alert alert-primary">
        {{ title | lowercase }}
      </p>
      <hr />

      <p class="alert alert-success">
        {{ title | titlecase }}
      </p>
      <hr />

      <p class="alert alert-dark">
        {{ title | lowercase | uppercase }}
      </p>
      <hr />
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          {{ courcedetails.title | uppercase }}
        </div>
        <div class="card-body">
          <p class="alert alert-primary">
            {{ courcedetails.students | number }}
          </p>
          <p class="alert alert-danger">
            {{ courcedetails.rating | number }}
          </p>
          <p class="alert alert-warming">
            {{ courcedetails.rating | number : "1.2-2" }}
          </p>
          <p class="alert alert-secondary">
            {{ courcedetails.rating | number : "2.2-2" }}
          </p>
          <p class="alert alert-info">
            {{ courcedetails.price | currency }}
          </p>
          <p class="alert alert-info">
            {{ courcedetails.price | currency : "INR" }}
            <br />
            {{ courcedetails.price | currency : "EUR" }}
            <br />
            {{ courcedetails.price | currency : "AUD" }}
          </p>
          <P class="alert alert-info">
            {{ courcedetails.releasedate }}
            <br />
            {{ courcedetails.releasedate | date }}
          </P>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- summarypipe -->

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
     <p class="alert alert-secondary">
       {{ title | summary }}
     </p>
      <hr />
<p class="alert alert-success">
 
      {{ title | summary : 100 }} 
</p>
    </div>
  </div>
</div>
<hr />

<!-- summary pipe with 50 words -->

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
     <p class="alert alert-danger">
       {{ para1 | summary2 : 100 }}
     </p>
      <hr />
    </div>
  </div>
</div>


<hr>



<div class="container mt-5">
<div class="row">
  <div class="col-12">
    <!-- {{para2 | summary1}} -->
<p class="alert alert-info">
       {{para2 | summary1 :100}}
</p>
  </div>
</div>
</div>



<div class="container mt-5">
<div class="row">
  <div class="col-12">
    <!-- {{para2 | summary1}} -->
    <p class="alert alert-dark">
       {{para3 | summary1 :100}}
    </p>
  </div>
</div>
</div>